.App {
  text-align: center;
  color: #000;
}

.giant .App-logo {
  height: 22rem;
}

.App-logo {
  height: 10rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .jitter .App-logo {
    animation: horizontal-shaking infinite .2s linear;
  }
  .spiro .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }

  .jitter.spiro .App-logo {
    animation: spin-and-shake infinite .5s ease-in;
  }
}

.dark-mode {
  background-color: #282c34;
}

.dark-mode .App-header,
.dark-mode h1{
  color: white;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes spin-and-shake {
  from {
    transform: translateX(155px) rotate(-2deg);
  }
  to {
    transform: translateX(-850px) rotate(570deg);
  }
}

@keyframes horizontal-shaking {
  from {
    transform: translateX(5px);
  }
  to {
    transform: translateX(-5px);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-2deg);
  }
  to {
    transform: rotate(2deg);
  }
}
